@import '../shared/theme/theme.scss';
.grid-container {
  display: grid;
  grid-template:
    "header header"
    "sidebar content"
    / 1fr 3fr;
}
.header {
  grid-area: header;
}
.sidebar {
  margin-top: 20px;
  grid-area: sidebar;
}
.content {
  padding: 20px;
  grid-area: content;
  overflow-y: scroll;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(80, 80, 80);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(75, 75, 75);
}
